annotated-types==0.8.0
anyio==4.14.2
av==18.1.0
certifi==2026.7.22
cffi==2.1.1
click==8.4.2
ctranslate2==4.8.1
faster-whisper==1.2.1
filelock==3.32.3
flatbuffers==25.12.19
fsspec==2026.7.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.28.0
idna==3.19
iniconfig==2.3.0
librt==0.15.0
mypy==1.20.2
mypy_extensions==1.1.0
numpy==2.5.2
onnxruntime==1.29.0
-e git+ssh://git@github.com/wesscosta/orelhao-ia.git@73b2943bbc6fb540130563edf77aa2851cd88b3a#egg=orelhao_ia
packaging==26.3
pathspec==1.1.1
pathvalidate==3.3.1
piper-tts==1.6.0
pluggy==1.6.0
protobuf==7.36.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.21.0
pytest==8.4.2
PyYAML==6.0.3
ruff==0.16.4
setuptools==84.0.0
sounddevice==0.5.6
tokenizers==0.23.1
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
